.navbar {
  background-color: #EFE3D4;
  height: 40px;
  font-size: small;
}

.list-group-item.active {
    z-index:2;
    color:#333;
    font-weight:bolder;
    background-color:#F7F9F9;
    border-color:#EFE3D4;
  }

  .list-group-item:hover, .list-group-item:focus, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index:2;
    color:#333;
    background-color:#EFE3D4;   
    border-color:#EFE3D4;
  }

  .input-group-text {
    color: #fff;
    background-color: #6F1E51;
  }
  .input-group-text:hover {
    color: #ddd;
    background-color: #8f7559;
  }

  .card-body {
    font-size: medium;

  }

  .my-text-primary-color {
    color:  #6F1E51;
  }

  a:link, a:visited {
    color: #6F1E51;
  }
  a:hover, a:active {
    color: #000;
  }

  .packing-items {
    background-color:#F7F9F9;
  }

  .vert-offset-top{
    margin-top: -2em;
  }

  .offset-right{
    margin-right: -2.3em;
  }

  .table {
    font-size: medium;
  }

 #destination, #add-item, placeholder{
    font-weight: 100;

  }


  .footer {
    background-color: #EFE3D4;
    font-size: small;
    padding-top: 1rem;
  }



  

 


