.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index:2;
    color:#ffffff;
    background-color:#f1c40f;
    border-color:#f1c40f;
  }

  .input-group-text {
    background-color: #f1c40f;
  }


